In [1]:
data=[['milk','bread','rice','book'],
     ['bread','jam','book','pen'],
      ['jam','milk','bread','rice','eggs'],
      ['rice','eggs','pen','book'],
      ['eggs','pen','milk','bread','jam'],
      ['eggs','rice','bread','jam']]

In [2]:
pip install mlxtend

Requirement already satisfied: mlxtend in d:\datascience\lib\site-packages (0.21.0)
Requirement already satisfied: setuptools in d:\datascience\lib\site-packages (from mlxtend) (63.4.1)
Requirement already satisfied: joblib>=0.13.2 in d:\datascience\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: pandas>=0.24.2 in d:\datascience\lib\site-packages (from mlxtend) (1.4.4)
Requirement already satisfied: scikit-learn>=1.0.2 in d:\datascience\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: scipy>=1.2.1 in d:\datascience\lib\site-packages (from mlxtend) (1.9.1)
Requirement already satisfied: numpy>=1.16.2 in d:\datascience\lib\site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: matplotlib>=3.0.0 in d:\datascience\lib\site-packages (from mlxtend) (3.5.2)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\datascience\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.2)
Requirement already satisfied: pillow>=6.2.0 in d:\datascience\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.2.0)
Requirement already satisfied: cycler>=0.10 in d:\datascience\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: packaging>=20.0 in d:\datascience\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in d:\datascience\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: pyparsing>=2.2.1 in d:\datascience\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in d:\datascience\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\datascience\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\datascience\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in d:\datascience\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()
te_array=te.fit_transform(data)

In [4]:
import pandas as pd
df=pd.DataFrame(te_array,columns=te.columns_)

In [5]:
df

    book  bread   eggs    jam   milk    pen   rice
0   True   True  False  False   True  False   True
1   True   True  False   True  False   True  False
2  False   True   True   True   True  False   True
3   True  False   True  False  False   True   True
4  False   True   True   True   True   True  False
5  False   True   True   True  False  False   True

In [12]:
from mlxtend.frequent_patterns import apriori
itemset=apriori(df,min_support=0.6,use_colnames=True)

In [13]:
itemset

    support      itemsets
0  0.833333       (bread)
1  0.666667        (eggs)
2  0.666667         (jam)
3  0.666667        (rice)
4  0.666667  (jam, bread)

In [17]:
from mlxtend.frequent_patterns import association_rules
res=association_rules(itemset,metric='confidence',min_threshold=0.6)

In [18]:
res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(jam),(bread),0.666667,0.833333,0.666667,1.0,1.2,0.111111,inf
1,(bread),(jam),0.833333,0.666667,0.666667,0.8,1.2,0.111111,1.666667

In [22]:
result=res[['antecedents','consequents','support','confidence','lift']]
result

  antecedents consequents   support  confidence  lift
0       (jam)     (bread)  0.666667         1.0   1.2
1     (bread)       (jam)  0.666667         0.8   1.2